extends ../../layout/ui-base/ui-base

block title 
    | Colors & Type
block container
    .container-colorsType
        .colors-wrap
            include ../../components/groupColors/groupColors
            +colors([{
                'modific': 'dark100',
                'name': 'Dark Shade 100%',
                'value': '#1F2041'
            },
            {
                'modific': 'dark75',
                'name': 'Dark Shade 75%',
                'value': '#1F2041'
            },
            {
                'modific': 'dark50',
                'name': 'Dark Shade 50%',
                'value': '#1F2041'
            },
            {
                'modific': 'dark25',
                'name': 'Dark Shade 25%',
                'value': '#1F2041'
            },
            {
                'modific': 'dark5',
                'name': 'Dark Shade 5%',
                'value': '#1F2041'
            },
            {
                'modific': 'purple',
                'name': 'Purple',
                'value': ' #BC9CFF'
            },
            {
                'modific': 'green',
                'name': 'Green',
                'value': '#6FCF97'
            }])
        .type-wrap
             
        