.base-page {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    //min-height: 900px;
    &__logo {
        width: 48px;
        height: 48px;
    }
}

