@import '../../scss/variables';

.color {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    &__rect {
        width: 70px;
        height: 70px;
        border-radius: 6px;
        &_bc {
            &_dark-100 {
                background-color: $color-dark-100;
            }
            &_dark-75 {
                background-color: $color-dark-75;
            }
            &_dark-50 {
                background-color: $color-dark-50;
            }
            &_dark-25 {
                background-color: $color-dark-25;
            }
            &_dark-5 {
                background-color: $color-dark-5;
            }
            &_purple {
                background-color: $color-primary;
            }
            &_green {
                background-color: $color-secondary; 
            }
        }
    }
    &__descr {
        margin-left: 40px;
        font-family: $font-quicksand;
        font-weight: 700;
        font-size: 19px;
        line-height: 29px;
    }
    &__name {
        color: #1F2041;
    }
    &__value {
        font-weight: 400;
    }
}