extends ../../layout/ui-base/ui-base

include ../../components/colors/colors
include ../../components/type/type

block title 
    | Colors & Type
block content
    .colors-type
        .colors-type__wrapper-colors
            +colors({
                color: '100',
                name: 'Dark Shade 100%',
                value: '#1F2041'
            })
            +colors({
                color: '75',
                name: 'Dark Shade 75%',
                value: '#1F2041'
            })
            +colors({
                color: '50',
                name: 'Dark Shade 50%',
                value: '#1F2041'
            })
            +colors({
                color: '25',
                name: 'Dark Shade 25%',
                value: '#1F2041'
            })
            +colors({
                color: '5',
                name: 'Dark Shade 5%',
                value: '#1F2041'
            })
            +colors({
                color: 'primary',
                name: 'Purple',
                 value: '#BC9CFF'
            })
            +colors({
                color: 'secondary',
                name: 'Green',
                value: '#6FCF97'
            })
        .colors-type__wrapper-type
            +type({
                title: 'H1',
                text: 'This one is the sub-section or widget title',
                tag: 'h1'
            })
            +type({
                title: 'H2',
                text: 'Next one is the item title inside widgets',
                tag: 'h2'
            })
            +type({
                title: 'H3',
                text: 'This is a label or CTA text',
                tag: 'h3'
            })
            +type({
                title: 'Body',
                text: 'This is the body text which is used for most <br /> of the design, like paragraphs, lists, etc.',
                tag: ''
            })
    