.type
    h1.tag.tag--h1 H1
    .title This one is the sub-section or widget title
.type
    h2.tag.tag--h2 H2
    .subtitle Next one is the item title inside widgets
.type
    h3.tag.tag--h3 H3
    .label-text This is a label or CTA text
.type
    .tag.tag--body Body
    .body-text This is the body text which is used for most <br> of the design, like paragraphs, lists, etc.

            