@import '../../scss/variables';
.tag {
    font-family: $font-mont;
    font-weight: 400;
    text-align: right;
    color: $color-dark-25;
    margin: 0;
    &--h1 {
        font-size: 24px;
        line-height: 29px;
    }
    &--h2 {
        font-size: 19px;
        line-height: 23px;
    }
    &--h3 {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
    &--body {
        font-size: 14px;
        line-height: 19px;
    }
}

.title {
    font-family: $font-quick;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $color-dark-100;
}
.subtitle {
    font-family: $font-quick;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: $color-dark-100;
}
.label-text {
    font-family: $font-mont;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-dark-100;
}
.body-text {
    font-family: $font-mont;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: $color-dark-75;
}