@import '../../scss/variables';

.type {
    display: flex;
    .head {
        flex-basis: 37px;
        flex-shrink: 0; 
    } 
    &__descr {
        padding-left: 30px;
    }
}

.head {
    font-family: $font-montserrat;
    font-weight: 400;
    text-align: right;
    color: $color-dark-25;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin: 0;
    &_level_first {
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
    &_level_second {
        font-size: 1.1875rem;
        line-height: 1.5rem;
    }
    &_level_third {
        font-size: 0.75rem;
        text-transform: uppercase;
        line-height: 0.9375rem;
    }
    &_color_dark-50 {
        color: $color-dark-50;
    }
}
.text {
    font-family: $font-quicksand;
    font-weight: 700;
    color: $color-dark-100;
    margin: 0;
    &__title {
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
    &__subtitle {
        font-size: 1.1875rem;
        line-height: 1.5rem;
    }
    &__label {
        font-family: $font-montserrat;
        font-size: 0.75rem;
        text-transform: uppercase;
        
    }
    &__body {
        font-family: $font-montserrat;
        font-weight: 400;
        font-size: 0.875rem;
        color: $color-dark-75;
        line-height: 1.5rem;
    }
}