$color-dark-100: #1F2041;
$color-dark-75: rgba(31, 32, 65, 0.75);
$color-dark-50: rgba(31, 32, 65, 0.5);
$color-dark-25: rgba(31, 32, 65, 0.25);
$color-dark-5: rgba(31, 32, 65, 0.05);
$color-primary: #BC9CFF;
$color-secondary: #6FCF97;

$font-quick: 'Quicksand', sans-serif;
$font-mont: 'Montserrat', sans-serif;
