@import '../../scss/variables';

.text-field {
    max-width: 320px;
    &__input {
        width: 100%;
        padding: 13px 15px;
        max-height: 44px;
        background: #FFFFFF;
        font-family: $font-montserrat;
        font-weight: 400;
        font-size: 0.875rem;
        color: $color-dark-75;
        border: 1px solid $color-dark-25;
        box-sizing: border-box;
        border-radius: 4px;
        &::placeholder {
            font-family: $font-montserrat;
            font-weight: 400;
            font-size: 0.875rem;
            color: $color-dark-25;
        }
        &:hover, &:focus {
            border: 1px solid $color-dark-50;
            &::placeholder {
                color: $color-dark-75;
                letter-spacing: -0.15px;
            } 
        }
        &_focused {
            border: 1px solid $color-dark-50;
            &::placeholder {
                color: $color-dark-75;
                letter-spacing: -0.15px;
            }
        }
        

    }
   
}
    

